http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"citations"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"source":"gnrs","citation":"@misc{gnrs, author = {Boyle, B. L. and
        Maitner, B. and Barbosa, G. C. and Enquist, B. J.}, journal = {Botanical Information
        and Ecology Network}, title = {Geographic Name Resolution Service}, year =
        2021, url = {https:\/\/gnrs.biendata.org\/}, note = {Accessed Jun 02, 2021}}"},{"source":"GADM","citation":"@misc{gadm,
        author= {{University of California, Berkeley, Museum of Vertebrate Zoolog}},
        title = {Global Administrative Areas}, url = {https:\/\/gadm.org\/}, note
        = {Accessed Apr 15, 2020}}"},{"source":"Natural Earth","citation":"@misc{naturalearth,
        author= {Kelse, Nathaniel Vaughn and Patterson, Tom and Furno, Dick and Buckingham,
        Tanya and Springer, Nick and Cross, Louis}, title = {Natural Earth}, year
        = 2021, url = {https:\/\/www.naturalearthdata.com\/}, note = {Accessed Jun
        02, 2021}}"},{"source":"geonames","citation":"@misc{geonames, author= {{Geonames}},
        title = {Geonames}, url = {https:\/\/www.geonames.org\/}, note = {Accessed
        Apr 21, 2020}}"}]'
  recorded_at: 2021-10-11 19:35:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"sources"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"source_id":"2","source_name":"GADM","source_name_full":"Database
        of Global Administrative Areas","source_url":"https:\/\/gadm.org\/","description":"GADM,
        the\u00a0Database of Global Administrative Areas, is a\u00a0high-resolution\u00a0database\u00a0of
        country administrative areas, with a goal of \"all countries, at all levels,
        at any time period.","data_url":"https:\/\/biogeo.ucdavis.edu\/data\/gadm3.6\/gadm36_gpkg.zip","logo_path":"images\/gadm.png","version":"3.6","source_release_date":"2020-04-15","date_accessed":"2020-04-15"},{"source_id":"3","source_name":"Natural
        Earth","source_name_full":"Natural Earth Data","source_url":"https:\/\/www.naturalearthdata.com\/","description":"Lookup
        tables of admin 1 (state\/province) names and codes. From Natural Earth Data,
        ","data_url":"https:\/\/www.naturalearthdata.com\/http\/\/www.naturalearthdata.com\/download\/10m\/cultural\/ne_10m_admin_1_states_provinces.zip","logo_path":"images\/natearth.png","version":"4.1.0","source_release_date":"2021-06-02","date_accessed":"2021-06-02"},{"source_id":"1","source_name":"geonames","source_name_full":"GeoNames
        geographical database","source_url":"https:\/\/geonames.org","description":"The
        GeoNames geographical database covers all countries and contains over eleven
        million placenames that are available for download free of charge.","data_url":"http:\/\/download.geonames.org\/export\/dump","logo_path":"images\/geonames.png","version":"2020-04-21","source_release_date":"2020-04-21","date_accessed":"2020-04-21"}]'
  recorded_at: 2021-10-11 19:35:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"meta"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"db_version":"2.2","build_date":"2021-09-27","code_version":"1.7","version_comments":"Includes
        country-as-state & state-as-country, with related bugfixes and backward-compatible
        database changes"}]'
  recorded_at: 2021-10-11 19:35:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"collaborators"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"collaborator_name":"BIEN","collaborator_name_full":"The Botanical
        Information and Ecology Network","collaborator_url":"https:\/\/bien.nceas.ucsb.edu\/bien\/","description":null,"logo_path":"images\/bien.png"},{"collaborator_name":"NCEAS","collaborator_name_full":"The
        National Center for Ecological Analysis and Synthesis","collaborator_url":"https:\/\/www.nceas.ucsb.edu\/","description":null,"logo_path":"images\/nceas.png"},{"collaborator_name":"University
        of Arizona","collaborator_name_full":"The University of Arizona","collaborator_url":"https:\/\/www.arizona.edu\/","description":null,"logo_path":"images\/UA.png"},{"collaborator_name":"NSF","collaborator_name_full":"The
        National Science Foundation","collaborator_url":"https:\/\/www.nsf.gov\/","description":null,"logo_path":"images\/nsf.png"}]'
  recorded_at: 2021-10-11 19:35:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
