http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"countrylist"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"country_id":"661882","country":"Aland Islands","iso":"AX","iso_alpha3":"ALA","fips":null,"continent_code":"EU","continent":"Europe","gadm_gid_0":"ALA"},{"country_id":"5880801","country":"American
        Samoa","iso":"AS","iso_alpha3":"ASM","fips":"AQ","continent_code":"OC","continent":"Oceania","gadm_gid_0":"ASM"},{"country_id":"1149361","country":"Afghanistan","iso":"AF","iso_alpha3":"AFG","fips":"AF","continent_code":"AS","continent":"Asia","gadm_gid_0":"AFG"},{"country_id":"783754","country":"Albania","iso":"AL","iso_alpha3":"ALB","fips":"AL","continent_code":"EU","continent":"Europe","gadm_gid_0":"ALB"},{"country_id":"2589581","coun[...]
