http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"dd"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"col_name":"poldiv_full","ordinal_position":"1","data_type":"Text","description":"Verbatim
        country, state\/province and county\/parish, concatenated with \\\"@\\\" as
        delimiter. For use as key to join results back to original data."},{"col_name":"country_verbatim","ordinal_position":"2","data_type":"Text","description":"Verbatim
        country, as submitted"},{"col_name":"state_province_verbatim","ordinal_position":"3","data_type":"Text","description":"Verbatim
        state\/province, as submitted"},{"col_name":"state_province_verbatim_alt","ordinal_positio[...]
