http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"statelist"},"data":[{"country":"661882"},{"country":"5880801"},{"country":"1149361"},{"country":"783754"},{"country":"2589581"},{"country":"3041565"},{"country":"831053"},{"country":"3351879"},{"country":"3573511"},{"country":"6697173"}]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"state_province_id":"1147745","country_id":"1149361","country_iso":"AF","country":"Afghanistan","state_province":"Badakhsh\u0101n","state_province_ascii":"Badakhshan","state_province_gnrs":"Badakhshan","iso_3866_1":"AF.01","iso_3866_1_alt":null,"hasc":"AF.BD","gadm_gid_0":"AFG","gadm_gid_1":"AFG.1_1"},{"state_province_id":"1147288","country_id":"1149361","country_iso":"AF","country":"Afghanistan","state_province":"Balkh","state_province_ascii":"Balkh","state_province_gnrs":"Balkh","iso_3866_1":"AF.30","iso_3866_1_alt":null,"hasc":"AF.BK","gadm_gid_0":"AFG","gadm_gid_1":"AFG.4_1"},{"state_province_id":"1147707","country_id":"1149361","country_iso":"AF","country":"Afghanistan","state_province":"B\u0101dgh\u012bs","state_province_ascii":"Badghis","state_province_gnrs":"Badghis","iso_3[...]
