http_interactions:
- request:
    method: POST
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      string: '{"opts":{"mode":"resolve"},"data":[[1,"United States","Puerto Rico",""],[2,"United
        States","Puerto Rico","Mayaguez"],[3,"England","Devon",""],[4,"Scotland","",""],[5,"Wales","",""],[6,"China","Taiwan","Taipei"],[7,"Peru","","Lima"],[8,"USA","AZ",""],[9,"GBR","GB-ENG","DEV"],[10,"Unted
        States","Arizonna","Pima Cnty"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"poldiv_full":"United States@Puerto Rico@","country_verbatim":"United
        States","state_province_verbatim":"Puerto Rico","state_province_verbatim_alt":"","county_parish_verbatim":"","county_parish_verbatim_alt":"","country":"Puerto
        Rico","state_province":"","county_parish":"","country_id":"4566966","state_province_id":"","county_parish_id":"","country_iso":"PR","state_province_iso":"","county_parish_iso":"","geonameid":"4566966","gid_0":"PRI","gid_1":"","gid_2":"","match_method_country":"exact
        standard name, state-as-country","match_method_state_province":"","match_method_county_parish":"","match_score_country":"1.00","match_score_state_province":"0.00","match_score_county_parish":"","threshold_fuzzy":"0.50","overall_score":"0.50","poldiv_submitted":"state_province","poldiv_matched":"state-as-country","match_status":"full
        match","user_id":"1"},{"poldiv_full":"Unted States@Arizonna@Pima Cnty","country_verbatim":"Unted
        States","state_province_verbatim":"Arizonna","state_province_verbatim_alt":"","county_parish_verbatim":"Pima
        Cnty","county_parish_verbatim_alt":"","country":"United States","state_province":"Arizona","county_parish":"Pima","country_id":"6252001","state_province_id":"5551752","county_parish_id":"5308878","country_iso":"US","state_province_iso":"AZ","county_parish_iso":"019","geonameid":"5308878","gid_0[...]
