http_interactions:
- request:
    method: POST
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      string: '{"opts":{"mode":"resolve"},"data":[[1,"Russia","Lipetsk","Dobrovskiy
        rayon"],[2,"Mexico","Sonora, Estado de","Hua^sA(C)pac"],[3,"Guatemala","Izabal",""],[4,"USA","Arizona","Pima
        County"],[5,"U.S.A","Arizona","Pima"],[6,"USA","Ilinois",""],[7,"Mexico","Quintana
        Roo","La^sA°zaro Ca^sA°rdenas"],[8,"Mexico","Quintana Roo","Municipio de La^sA°zaro
        Ca^sA°rdenas"],[9,"Ukraine","Kharkiv","Novovodolaz''kyi"],[10,"Canada","Province
        of Nova Scotia",""],[11,"Germany","Niedersachsen","Emden"],[12,"United States","Arkansas","Greene"],[13,"Romania","Covasna","Intorsura
        Buzaului"],[14,"United States","Kansas","Jewell"],[15,"Mexico","Chiapas","Villa
        Corzo"],[16,"Romania","Cluj","Marisel"],[17,"Mexico","Nuevo Lea^sa‰¥n","Los
        Aldamas"],[18,"South Korea","Busan","Haeundae"],[19,"Mexico","Guanajuato","Jera^sA(C)cuaro"],[20,"Colombia","Cundinamarca","Medina"],[21,"Thailand","Chaiyaphum","Nong
        Bua Daeng"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"poldiv_full":"Russia@Lipetsk@Dobrovskiy rayon","country_verbatim":"Russia","state_province_verbatim":"Lipetsk","state_province_verbatim_alt":"","county_parish_verbatim":"Dobrovskiy
        rayon","county_parish_verbatim_alt":"Dobrovskiy","country":"Russia","state_province":"Lipetskaya
        Oblast''","county_parish":"Dobrovskiy Rayon","country_id":"2017370","state_province_id":"535120","county_parish_id":"565805","country_iso":"RU","state_province_iso":"43","county_parish_iso":"565805","geonameid":"565805","gid_0":"RUS","gid_1":"RUS.39_1","gid_2":"RUS.39.5_1","match_method_country":"exact
        standard name","match_method_state_province":"exact alternate name","match_method_county_parish":"exact
        name","match_score_country":"1.00","match_score_state_province":"1.00","match_score_county_parish":"1.00","threshold_fuzzy":"0.50","overall_score":"1.00","poldiv_submitted":"county_parish","poldiv_matched":"county_parish","match_status":"full
        match","user_id":"1"},{"poldiv_full":"Canada@Province of Nova Scotia@","country_verbatim":"Canada","state_province_verbatim":"Province
        of Nova Scotia","state_province_verbatim_alt":"Nova Scotia","county_parish_verbatim":"","county_parish_verbatim_alt":"","country":"Canada","state_province":"Nova
        Scotia","county_parish":"","country_id":"6251999","state_province_id":"6091530","county_parish_id":"","country_iso":"CA","state_province_iso":"07","county_parish_iso":"","geonameid":"6091530","gid_0":"CAN[...]
