http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"resolve"},"data":[[1,"United States of America",null,null]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"poldiv_full":"United States of America@@","country_verbatim":"United
        States of America","state_province_verbatim":"","state_province_verbatim_alt":"","county_parish_verbatim":"","county_parish_verbatim_alt":"","country":"United
        States","state_province":"","county_parish":"","country_id":"6252001","state_province_id":"","county_parish_id":"","country_iso":"US","state_province_iso":"","county_parish_iso":"","geonameid":"6252001","gid_0":"USA","gid_1":"","gid_2":"","match_method_country":"exact
        alternate name","match_method_state_province":"","match_method_county_parish":"","match_score_country":"1.00","match_score_state_province":"","match_score_county_parish":"","overall_score":"1.00","poldiv_submitted":"country","poldiv_matched":"country","match_status":"full
        match","user_id":"1"}]'
  recorded_at: 2021-10-11 19:35:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
