http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"resolve"},"data":[[616,"USA","Michigan","Kent"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"poldiv_full":"USA@Michigan@Kent","country_verbatim":"USA","state_province_verbatim":"Michigan","state_province_verbatim_alt":"","county_parish_verbatim":"Kent","county_parish_verbatim_alt":"","country":"United
        States","state_province":"Michigan","county_parish":"Kent","country_id":"6252001","state_province_id":"5001836","county_parish_id":"4998005","country_iso":"US","state_province_iso":"MI","county_parish_iso":"081","geonameid":"4998005","gid_0":"USA","gid_1":"USA.23_1","gid_2":"USA.23.41_1","match_method_country":"iso_alpha3
        code","match_method_state_province":"exact name","match_method_county_parish":"exact
        ascii short name","match_score_country":"1.00","match_score_state_province":"1.00","match_score_county_parish":"1.00","overall_score":"1.00","poldiv_submitted":"county_parish","poldiv_matched":"county_parish","match_status":"full
        match","user_id":"616"}]'
  recorded_at: 2021-10-11 17:45:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
