http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"resolve"},"data":[[1,"United Stapes","Arizona",null],[2,"Mexico","Sinalo",null]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"poldiv_full":"United Stapes@Arizona@","country_verbatim":"United
        Stapes","state_province_verbatim":"Arizona","state_province_verbatim_alt":"","county_parish_verbatim":"","county_parish_verbatim_alt":"","country":"United
        States","state_province":"Arizona","county_parish":"","country_id":"6252001","state_province_id":"5551752","county_parish_id":"","country_iso":"US","state_province_iso":"AZ","county_parish_iso":"","geonameid":"5551752","gid_0":"USA","gid_1":"USA.3_1","gid_2":"","match_method_country":"fuzzy
        standard name","match_method_state_province":"exact name","match_method_county_parish":"","match_score_country":"0.65","match_score_state_province":"1.00","match_score_county_parish":"","overall_score":"0.83","poldiv_submitted":"state_province","poldiv_matched":"state_province","match_status":"full
        match","user_id":"1"},{"poldiv_full":"Mexico@Sinalo@","country_verbatim":"Mexico","state_province_verbatim":"Sinalo","state_province_verbatim_alt":"","county_parish_verbatim":"","county_parish_verbatim_alt":"","country":"Mexico","state_province":"Sinaloa","county_parish":"","country_id":"3996063","state_province_id":"3983035","county_parish_id":"","country_iso":"MX","state_province_iso":"25","county_parish_iso":"","geonameid":"3983035","gid_0":"MEX","gid_1":"MEX.25_1","gid_2":"","match_method_country":"exact
        standard name","match_method_state_province":"wildcard alt name","match_method_county_parish":"","match_score_country":"1.00","match_score_state_province":"1.00","match_score_county_parish":"","overall_score":"1.00","poldiv_submitted":"state_province","poldiv_matched":"state_province","match_status":"full
        match","user_id":"2"}]'
  recorded_at: 2021-10-11 17:45:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
