http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"countylist"},"data":[{"state":"4829764"},{"state":"5879092"},{"state":"5551752"},{"state":"4099753"},{"state":"5332921"},{"state":"5417618"},{"state":"4831725"},{"state":"4142224"},{"state":"4138106"},{"state":"4155751"},{"state":"4197000"},{"state":"5855797"},{"state":"5596512"},{"state":"4896861"},{"state":"4921868"},{"state":"4862182"},{"state":"4273857"},{"state":"6254925"},{"state":"4331987"},{"state":"4971068"},{"state":"4361885"},{"state":"6254926"},{"state":"5001836"},{"state":"5037779"},{"state":"4436296"},{"state":"4398678"},{"state":"5667009"},{"state":"5073708"},{"state":"5509151"},{"state":"5090174"},{"state":"5101760"},{"state":"5481136"},{"state":"5128638"},{"state":"4482348"},{"state":"5690763"},{"state":"5165418"},{"state":"4544379"},{"state":"5744337"},{"state":"6254927"},{"state":"5224323"},{"state":"4597040"},{"state":"5769223"},{"state":"4662168"},{"state":"4736286"},{"state":"5549030"},{"state":"5242283"},{"state":"6254928"},{"state":"5815135"},{"state":"4826850"},{"state":"5279468"},{"state":"5843591"}]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"county_parish_id":"4830868","country_id":"6252001","country":"United
        States","country_iso":"US","state_province_id":"4829764","state_province_ascii":"Alabama","county_parish":"Autauga
        County","county_parish_ascii":"Autauga County","county_parish_gnrs":"Autauga","iso_3166_2":"US.AL.001","iso_3166_2_alt":null,"hasc2":null,"gadm_gid_0":"USA","gadm_gid_1":"USA.1_1","gadm_gid_2":"USA.1.1_1"},{"county_parish_id":"4831207","country_id":"6252001","country":"United
        States","country_iso":"US","state_province_id":"4829764","state_province_ascii":"Alabama","county_parish":"Baldwin
        County","county_parish_ascii":"Baldwin County","county_parish_gnrs":"Baldwin","iso_3166_2":"US.AL.003","iso_3166_2_alt":null,"hasc2":null,"gadm_gid_0":"USA","gadm_gid_1":"USA.1_1","gadm_gid_2":"USA.1.2_1"},{"county_parish_id":"4831351","country_id":"6252001","country":"United
        [...]
