http_interactions:
- request:
    method: post
    uri: https://gnrsapi.xyz/gnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"meta"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"db_version":"2.2","build_date":"2021-09-27","code_version":"1.7","version_comments":"Includes
        country-as-state & state-as-country, with related bugfixes and backward-compatible
        database changes"}]'
  recorded_at: 2021-10-11 19:35:57 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
